In [3]:
# Loaded variable 'df' from URI: d:\Work\Client Projects\Paid projects\ML peojct\src\data.csv
import pandas as pd

df = pd.read_csv(r"d:\Work\Client Projects\Paid projects\ML peojct\src\data.csv")
df.head()

,CO2,TVOC,PM10,PM2.5,CO,Air Quality,LDR,O3,Temp,Hum,ts
0,592,29,10.30,9.0,352,148,974,623,24.0,47.2,2024-05-22T14:34:1
1,592,29,10.31,10.1,304,136,974,616,23.6,46.8,2024-05-22T14:35:0
2,592,29,4.08,9.9,284,117,974,603,23.5,47.8,2024-05-22T14:36:3
3,592,29,7.86,9.6,266,114,323,599,23.3,47.1,2024-05-22T14:37:1
4,592,29,6.84,8.4,260,116,307,601,23.0,47.1,2024-05-22T14:38:0